  {% load static %} {% load json_tag %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/create.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/manageSociety.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
<!--    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap_table.css' %}">-->
<!--    <link rel="stylesheet" type="text/css" href="{% static 'css/update.css' %}">-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/toast.css' %}">
  <link rel="stylesheet" href="{% static '/datatables/dataTables.bootstrap5.min.css'%}">
  <link rel="stylesheet" href="{% static 'fonts/b-icons/font/bootstrap-icons.css'%}">

<!--      <link rel="stylesheet" href="{% static '/bootstrap_select/bootstrap_select.min.css' %}">-->
<!--   <link rel="stylesheet" href="{% static '/bootstrap_5/css/bootstrap.min.css' %}">-->
<!--    <link rel="stylesheet" href="{% static '/bootstrap_datetimepicker/bootstrap_datetimepicker.min.css' %}">-->
<!--    <link rel="stylesheet" href="{% static '/datatables/dataTables.bootstrap5.min.css' %}">-->
<!--    <link rel="stylesheet" href="{% static '/jasny_bootstrap/jasny_bootstrap.min.css' %}">-->
<!--    <link rel="stylesheet" href="{% static 'fonts/fontawesome/css/all.css' %}">-->
<!--    <link rel="stylesheet" href="{% static 'fonts/b-icons/font/bootstrap-icons.css' %}">-->


<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">-->

<body>


<script src="{% static '/common_js/jquery.min.js' %}"></script>
<script src="{% static '/common_js/popper.min.js' %}"></script>
<script src="{% static '/common_js/moment.min.js' %}"></script>
<script src="{% static '/common_js/lodash.min.js' %}"></script>
<script src="{% static '/common_js/jscolor.min.js' %}"></script>
<script src="{% static '/common_js/sweet_alert.min.js' %}"></script>
<script src="{% static '/bootstrap_datetimepicker/bootstrap_datetimepicker.min.js' %}"></script>
<script src="{% static '/bootstrap_select/bootstrap_select.min.js' %}"></script>

<!-- <script src="{% static '/datatables/dataTables.bootstrap5.min.js' %}"></script>-->
<!-- <script src="{% static '/datatables/jquery.dataTables.min.js' %}"></script>-->
<!--<script src="{% static  '/jasny_bootstrap/jasny_bootstrap.min.js' %}"></script>-->
<script src="{% static  '/javascript/jquery.js' %}"></script>
<script src="{% static  '/javascript/jqueyTable.js' %}"></script>
<script src="{% static  '/javascript/JQueryTable.js' %}"></script>

<script src="{% static '/javascript/toast.js' %}"></script>

</body>
</html>



</body>
