 {% include 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>Create Society</title>


</head>
<body class="bg-warning-subtle">
 {% include 'navbar.html' %}

<!-- Main Content -->
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-lg-4 offset-lg-4"> <!-- Offset 4 columns to center the form -->
            <!-- Sidebar with scroll bar -->
            <div class="form-container">
                 <form id="program-form" method="POST">
            {% csrf_token %}
                     <h3 class="text-lg-center text-primary-emphasis">Create Branch</h3>

            <div class="form-group">
                <label style=" color:grey" >Program Level-Name</label> &nbsp;
                <input class="form-control" type="text" id="id_name" name="name">
            </div>
</br>
                <div class="input-group mb-3">
                          <label style=" color:grey" >Program Category</label> &nbsp;
                         <select class="form-select" name="program_category">
                              <option value="">Select</option>
                           {% for i in prgctg %}
                             {% if i.status %}
                              <option value={{i.id}}>{{i.name}}</option>
                             {% endif %}
                             {% endfor %}
                            </select>
                    </div>

            {% if form.errors %}
                        <ul class="errorlist">
                            {% for field in form %}
                                {% if field.errors %}
                                    <li>{{ field.label }}: {{ field.errors|join:", " }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
            </div>
        </div>
    </div>
</div>
<!--    <script src="{% static 'javascript/bootstrap.js' %}"></script>-->

</body>
</html>